<div class="banner">
  <div class="banner-content">
    <div class="logo">
      <div class="head">
        <%= image_tag("logo-head.png", :alt => "logo") %>
      </div>
      <div class="text">
        <%= image_tag("logo-text.png", :alt => "logo") %>
      </div>
    </div>
    <div class="social">
      <div class="facebook">
        <%= image_tag("icone_facebook.png", :alt => "Facebook") %>
      </div>
      <div class="instagram">
        <%= image_tag("icone_instagram.png", :alt => "Instagram") %>
      </div>
      <div class="mail">
        <%= image_tag("icone_mail.png", :alt => "Mail") %>
      </div>
    </div>
  </div>
</div>



