<body class="banner" style="background-image: url('/assets/fond.jpg');">
<div class="container">
  <div class="déco-1 photo-galerie">
    <%= image_tag("déco-1.jpg", :alt => "déco") %>
  </div>
  <div class="pizza-1 photo-galerie">
    <%= image_tag("pizza-1.jpg", :alt => "pizza") %>
  </div>
  <div class="déco-2 photo-galerie">
    <%= image_tag("déco-2.jpg", :alt => "déco") %>
  </div>
  <div class="pizza-2 photo-galerie">
    <%= image_tag("pizza-1.jpg", :alt => "pizza") %>
  </div>
  <div class="déco-3 photo-galerie">
    <%= image_tag("déco-3.jpg", :alt => "déco") %>
  </div>
  <div class="pizza-3 photo-galerie">
    <%= image_tag("pizza-1.jpg", :alt => "pizza") %>
  </div>
</div>

</body>
