<body class="banner" style="background-image: url('/assets/fond.jpg');">

<div class="Squadra-content">
  <div class="first-membre">
    <div class="photo">
      <%= image_tag("Portrait-1.png", :alt => "Portrait") %>
    </div>
    <div class="info">
      Name
      Rôle
    </div>
  </div>
  <div class="second-membre">
     <div class="photo">
      <%= image_tag("Portrait-2.png", :alt => "Portrait") %>
    </div>
    <div class="info">
      Name
      Rôle
    </div>
  </div>
  <div class="third-membre">
     <div class="photo">
      <%= image_tag("Portrait-3.png", :alt => "Portrait") %>
    </div>
    <div class="info">
      Name
      Rôle
    </div>
  </div>
  <div class="fourth-membre">
     <div class="photo">
      <%= image_tag("Portrait-4.png", :alt => "Portrait") %>
    </div>
    <div class="info">
      Name
      Rôle
    </div>
  </div>
  <div class="fifth-membre">
     <div class="photo">
      <%= image_tag("Portrait-5.png", :alt => "Portrait") %>
    </div>
    <div class="info">
      Name
      Rôle
    </div>
  </div>
</div>


</body>
